.App {
    
  }
  
  .Auth-form-container {
    background: url('/public/images/bridge-197788.jpg') center center/cover no-repeat;
    opacity: 0.9;
    display: table;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  input{
    border-radius: 20px;
    padding-left: 10px;
  }
  .Auth-form {
    display: table;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
  }
  
  .Auth-form-content {
    display: table;
    justify-content: center;
    align-items: center;
    padding: 50px 200px;
  }
  .Auth-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: white;
    font-weight: 800;
  }
  table{
    background-color: none;
  }
  label {
    font-size: 16px;
    font-weight: 600;
    color: black;
  }
  input{
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 10px;
  }