.report-container {
    background: url('/public/images/img-home.jpg') center center/cover no-repeat;
    display:grid;
    height: 100vh;
  }
  .report-container > h1 {
    color: #fff;
    font-size: 50px;
    margin-top: -250px;
  }
  
  
  .report-btns {
    margin-top: -20%;
    display: grid;
    align-self: center;
    margin-bottom: 400px;
    margin-right: 20%;
    margin-left: 20%;
  }
  
  .report-btns .btn {
    padding: auto;
    box-sizing: border-box;
    width: 100%;
    margin: 6px;
    align-self: center;
  }
  
  .fa-play-circle {
  }
  
  @media screen and (max-width: 960px) {
    .report-container > h1 {
      font-size: 50px;
      margin-top: -250px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .report-container > h1 {
      font-size: 40px;
      margin-top: -300px;
    }
  
    .report-container > p {
      font-size: 16px;
    }
  
    .btn-mobile {
      display: block;
      text-decoration: none;
    }
  
    .btn {
      width: 100%;
    }
  }
  