.report-container {
    background: url('/public/images/bridge-197788.jpg') center center/cover no-repeat;
    display:grid;
    height: 100vh;
  }
  .report-container > h1 {
    color: #fff;
    font-size: 50px;
    margin-top: -40vh;
  }
  .img-header{
    align-self: center;
    justify-self: center;
    width: 50vw;
  }
  
  
  

  
  @media screen and (max-width: 960px) {
    .report-container > h1 {
      font-size: 50px;
      margin-top: -350px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .report-container > h1 {
      font-size: 40px;
      margin-top: -400px;
    }
  
    .report-container > p {
      font-size: 16px;
    }
  
    .btn-mobile {
      display: block;
      text-decoration: none;
    }
  
    .btn {
      width: 100%;
    }
  }
  