.overview-table{
    width: 100%;
}
.Overview-Page{
    background: url('/public/images/bridge-197788.jpg') center center/cover no-repeat;
    opacity: 0.75;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 90vh;
    display: grid;
    place-items: center;
    align-content: center;
    justify-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
}