.overview-table{
    width: 100%;
}
.reportOverviewBody > tr:hover{
  background-color: white;
  color: black;
}
.Overview-Page{
    background: url('/public/images/bridge-197788.jpg') center center/cover no-repeat;
    opacity: 0.75;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 120vh;
    display: grid;
    place-items: center;
    align-content: center;
    justify-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
}
.Button-div{
    display: flex;
    gap: 30px;
}
.btn-overview{
    border-radius: 0%;
    margin: 0;
}
h1 {
    margin: 0;
    padding: 0;
  }
  html, body, .app {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100vh;
  }
  .popup {
    display: grid;
    position: absolute;
    place-items: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120vh;
    background-color: rgba(0,0,0, 0.5);
    z-index: 0;
  }
  .popup_inner {
    display: grid;
    place-items: center;
    margin-top: 10vh;
    margin-bottom: 0vh;
    background: rgba(167, 166, 166, 0.868);
    border-radius: 20px;
  }
  .react-select__option{
    color: rgb(0, 0, 0);
  }
